upstream backend {
    # Define the backend servers for load balancing
    {% for name, ip in gitea_host_names.items()  %}   # name = key, ip = key's value from group_vars/all
    server {{ ip }}:3000;
    {% endfor %}
}

server {
    listen 30333;  # Listen on port 80 (HTTP)

    # Define the server_name (optional)
    server_name {{ load_balancer_host }};  # Replace with your domain or leave empty for any domain

    location / {
        # Proxy pass to backend servers
        proxy_pass http://backend;

        # Optional: Set some common proxy headers
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Optional: Add error handling or specific settings (timeouts, etc.)
    error_page 502 = /502.html;
    location = /502.html {
        root /usr/share/nginx/html;
        internal;
    }
}
